<div class="row">
  <div class="col-4">
      <div class="form-group">
          <label for="principal" >Principal Amount</label>
      </div>      
  </div>
  <div class="col-4">
      <div class="form-group">
          <input type="text" id="principal" class="form-control" [(ngModel)]="loanDetails.principalAmount">
      </div>      
  </div>  
</div>
<div class="row">
  <div class="col-4">
      <div class="form-group">
        <label for="loanPeriods" >Loan Periods</label>
      </div>      
  </div>
  <div class="col-4">
      <div class="form-group">
          <select id="loanPeriod" class="browser-default custom-select" [(ngModel)]="loanDetails.loanLife">              
              <option value="12">12</option>
              <option value="36">36</option>          
            </select>
      </div>
  </div>  
</div>
<div class="row">
    <div class="offset-6 col-4">
        <button class="btn-success btn" (click)="calculate()">Calculate</button>
    </div>    
</div>